// This file allows you to configure ESLint according to your project's needs, so that you
// can control the strictness of the linter, the plugins to use, and more.

// For more information about configuring ESLint, visit https://eslint.org/docs/user-guide/configuring/

//module.exports = [
//    {
//        rules: {}
//    }
//];

.Navbar {
    background-color: #111111;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.nav-brand{
    display: flex;
    align-items: center;
}

.nav-logo{
    text-decoration: none;
    color: white;
}

.nav-links{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.link {
    text-decoration: none;
    color: rgba($color: #ffffff, $alpha: 0.7);
    //background-color: white;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
}

.link.active{
    color: black;
    background-color: white;
}